include .editorconfig
include *.md
include *.yaml
include *.yml
include tox.ini
include VERSION
recursive-include tests/msgs *.msg
recursive-include tests *.py
recursive-include docs *.md
recursive-include docs *.txt
